doctype=html
html(language=en)
  head
    link(href="/public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/public/bootstrap-3.3.7-dist/css/dashboard.css" rel="stylesheet")
    link(href="/public/bootstrap-3.3.7-dist/css/flag-icon-css/css/flag-icon.css" rel="stylesheet")
    each file in css
      link(href=file rel="stylesheet")
    
  body
    script(src="/public/bootstrap-3.3.7-dist/js/jquery.min.js")
    script(src="/public/bootstrap-3.3.7-dist/js/bootstrap.min.js")
    each file in include
      script(src=file)

    nav(class="navbar navbar-default navbar-fixed-top")
       div(class="container-fluid")
         div(class="navbar-header")
           button(
             type="button"
             class="navbar-toggle collapsed"
             data-toggle="collapse"
             data-target="#navbar"
             aria-expanded="false"
             aria-controls="navbar"
           )
             span(class="sr-only") Toggle navigation
             span(class="icon-bar")
             span(class="icon-bar")
             span(class="icon-bar")
           a(class="navbar-brand" href="#") #{title}
    
         div(id="navbar" class="navbar-collapse collapse")
           ul(class="nav navbar-nav navbar-right")
             li
               a
                 span(
                   id="notification_badge"
                   class="badge progress-bar-danger"
                   style="display: none;") 1
             li
               a(href="#") Login

    div(class="container-fluid")
      div(class="row")
        div(class="col-md-2 sidebar")
          ul(class="nav nav-sidebar")
            li(class=active=='overview'?"active":'')
              a(style="cursor: pointer;") overview
          ul(class="nav nav-sidebar")
            li(class=active=='IP'?"active":'')
              a(style="cursor: pointer;") IP
            li(class=active=='router'?"active":'')
              a(style="cursor: pointer;") router
          ul(class="nav nav-sidebar")
            li(class=active=='PoP'?"active":'')
              a(style="cursor: pointer;") PoP
        div(class="col-md-10 col-md-offset-2 main")
          block content
